<div class="form-group"> 
    <h1>¡Excelente trabajo, has completado tu rutina! 🏆</h1>
</div>

<div class="container">
    <table class="table table-responsive">
        <tbody>
            <tr>
                <td>
                    <button type="button" (click)='onRepetirR()' class="btn btn-outline-primary form-control">
                        Repetir
                    </button>
                </td>
                <td>
                    <button type="button" (click)='onNuevaR()' class="btn btn-outline-primary form-control">
                        Nueva Rutina
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
