
<div class="container">
    <div class="row">

    <div class="col-sm-6 col-xs-6">
    <div class="card">
        <div class="card-header">
            <h3>Tu rutina para esta sesion es:</h3>
        </div>
        <div class="card-body">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Ejercicio</th>
                <th>Tiempo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let r of rutina; let i = index' [attr.data-index]="i">
                <td>{{i+1}}</td>
                <td>{{r.nombre}}</td>
                <td>{{r.tiempo}}</td>
            </tr>
        </tbody>
    </table>
    </div>
        <div class="card-footer">
            <div class="row">
            <div class="col-sm-4 col-xs-4">
            <button type="button" name="pausaa" id="pausaa" (click)='inicioTimer()' class="btn btn-primary">
                <i class="fa fa-play" aria-hidden="true"></i>
                {{mensajeBoton}}
            </button>
            </div>
            <div class="col-sm-4 col-xs-4">
            <button type="button" (click)='onCancelar()' class="btn btn-danger">
                <i class="fa fa-stop-circle" aria-hidden="true"></i>
                Cancelar
            </button>
            </div>
            
            </div>
        </div>
    </div>
    </div>

    <div class="col-sm-2 col-xs-2">
        <div class="row">
            <div class="col-sm-6 col-xs-6"></div>
            <div class="col-sm-6 col-xs-6">
                <div *ngIf='inicioRutina' class="align-middle mx-auto">
                    <h1 class="display-1" name="ejercicioC" id="ejercicioC">{{ejercicio}}</h1>
                    <h1 class="display-1" name="contador" id="contador">{{tiempo}}</h1>
                </div>
            </div>
            
        </div>
    </div>

</div>
</div>