<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Trenningo">
  <meta name="author" content="Ronald Castellon">

  <title>Trenningo - </title>


</head>

<body>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/logoTrenningo.png" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Build your optimal circuit workout!</h1>
        <p>A circuit workout is made up of several high intensity exercises performed each for a set period of time. Trenningo helps you create your own personal circuit training routine and guides you through it so you can solely focus on your exercises and get the most out of your training.</p>
        <a class="btn btn-primary" [routerLink]="['/rutina']" > Start building your routine!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white gradient-custom my-5 py-4 text-center">
      <div class="card-body">
        <h2 class="text-white m-0">🏋️ Trenningo helps you train better in 3 simple steps 🏆</h2>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">1. Plan</h2>
            <p class="card-text">Build your custom workout by setting the exercises you wish to perform in the circuit.</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">2. Build</h2>
            <p class="card-text">Set the amount of time for each exercise as well as your resting period.</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">3. Train</h2>
            <p class="card-text">Start your workout! Trenningo will guide you through each step of your routine by keeping track of the exercises and the time. </p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Trenningo 2020</p>
    </div>
    <!-- /.container -->
  </footer>



</body>

</html>
