<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Trenningo">
  <meta name="author" content="Ronald Castellon">

  <title>Trenningo- Diseñando tu entrenamiento optimo</title>


</head>

<body>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/logoTrenningo.png" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Crea tu circuito ideal</h1>
        <p>Un entrenamiento en circuito consiste en una serie de ejercicios de resistencia y alta intensidad que realizas durante un transcurso de tiempo. ¡Trenningo te ayuda a crear tu propio circuito y te conduce a través de el para que tú te enfoques en dar lo mejor de ti en cada ejercicio!</p>
        <a class="btn btn-primary" [routerLink]="['/rutina']" > ¡Inicia tu Rutina!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">🏋️ Trenningo te puede ayudar a crear tu entrenamiento optimo en 3 simples pasos 🏆</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">1. Planea</h2>
            <p class="card-text">Arma tu entrenamiento ideal ingresando los ejercicios que realizaras durante tu circuito.</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">2. Construye</h2>
            <p class="card-text">Establece la duración de cada uno de tus ejercicios y el tiempo de descanso entre ellos.</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">3. Entrena</h2>
            <p class="card-text">Empieza tu entrenamiento, Trenningo se encargará de guiarte durante tu circuito para que te enfoques y des lo mejor de ti. 💪</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Trenningo 2020</p>
    </div>
    <!-- /.container -->
  </footer>



</body>

</html>
